.toggle-switch{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  height: 30px;
  width: 60px;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 5px black inset;
  transition: 0.5s all;
}
#toggle-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0 0 5px black;
  background: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  transition: 0.5s all;
}