/* ----->>>>> PORTFOLIO HOME */
.portfolio-home {
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  gap: 50px;
  background: linear-gradient(to right bottom,rgba(0, 0, 255, 0.148), #ff00e131);
  color: var(--text);
}
.portfolio-home .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.portfolio-home .wrapper span {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.portfolio-home .wrapper h1 {
  font-size: 3rem;
}
.portfolio-home .wrapper .descriptions {
  line-height: 1.5;
  opacity: 0.8;
}
.portfolio-home .wrapper:nth-child(1) {
  max-width: 700px;
}
.portfolio-home .wrapper .social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio-home .wrapper .social-media a {
  background: linear-gradient(to right bottom,blue, #ff00e1);
  background: var(--overlay);
  border: 1px solid white;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  border-radius: 10px;
}
.portfolio-home .wrapper img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-left: 2px solid #ff00e1;
  border-right: 2px solid #ff00e1;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  box-shadow: 0 0 100px black;
  border-radius: 100%;
}

/* ----->>>>> PORTFOLIO PROJECT & CERTIFICATE */

.portfolio-project,
.portfolio-certificate {
  position: relative;
  padding: 50px;
}
.portfolio-project h2,
.portfolio-certificate h2 {
  position: absolute;
  color: var(--text);
  top: 30px;
  background: var(--bg);
  padding: 10px 50px;
  border-radius: 0 0 20px 20px;
}
.portfolio-project .project-list,
.portfolio-certificate .certificate-list {
  background: linear-gradient(to right bottom,rgba(0, 0, 255, 0.148), #ff00e131);
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
}
.portfolio-project .project-item,
.portfolio-certificate .certificate-item {
  padding: 40px;
  gap: 40px;
  box-shadow: 0 0 5px #00000057;
  background: var(--overlay);
  align-items: start;
}
.portfolio-project .project-item a:nth-child(2) {
  background: linear-gradient(to right bottom, blue, #ff00e1);
  color: white;
  text-shadow: 0 0 5px black;
}
.portfolio-certificate .certificate-item {
  width: calc(33% - 30px);
  flex-direction: column;
  gap: 10px;
}
.portfolio-certificate .certificate-item img {
  width: 100% !important;
  height: auto !important;
}
.portfolio-certificate .certificate-item h3 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.portfolio-certificate .certificate-item table {
  display: none;
}

/* ----->>>>> PORTFOLIO SKILLS */

.fa-html5 {color: #f65d16;}
.fa-css3-alt {color: #1664f6;}
.fa-js {color: #fad21d;}
.fa-react {color: purple;}
.fa-git-alt {color: red;}
.fa-php {color: #7a8ac6;}
.fa-python {
  background: linear-gradient(to right bottom, #0059ff, #eeff00);
  background-clip: text;
  color: transparent;
}
.fa-network-wired {
  color: #0d7ccc;
}
.fa-database {
  background: linear-gradient(to bottom, #06930b, #0d7ccc);
  background-clip: text;
  color: transparent;
}

.portfolio-skill {
  padding: 50px;
  gap: 50px;
}
.portfolio-skill h2 {
  color: var(--text);
}
.portfolio-skill .skill-list {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}
.portfolio-skill .skill-list .skill-item {
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  background: #363636;
  border-radius: 100%;
}

.portfolio-coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: calc(100svh - 150px);
  color: var(--text);
}
.portfolio-coming-soon h1 {
  text-align: center;
  font-size: 2rem;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.portfolio-coming-soon span {
  font-size: 10rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background: conic-gradient(from var(--rotate),#ff00e1, blue, #ff00e1);
  -webkit-background-clip: text;
  background-clip: text;

  animation: load 3s linear infinite;
}
@keyframes load {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@media only screen and (max-width: 1200px) {
  .portfolio-certificate .certificate-item {
    width: calc(50% - 30px);
  }
}
@media only screen and (max-width: 1000px) {
  .portfolio-home {
    flex-direction: column-reverse;
    padding: 50px 30px;
  }
  .portfolio-home .wrapper span h1 {
    font-size: 2rem;
  }
  .portfolio-project .project-item {
    flex-direction: column;
    align-items: center;
  }
  .portfolio-project .project-item .side:nth-child(2) {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .portfolio-certificate .certificate-item {
    width: calc(100%);
  }
}
@media only screen and (max-width: 620px) {
  .portfolio-skill {
    padding: 10px;
  }
  .portfolio-skill .skill-list .skill-item {
    width: 150px;
    height: 150px;
  }
  .portfolio-project,
  .portfolio-certificate {
    padding: 50px 10px;
  }
  .portfolio-project .project-list,
  .portfolio-certificate .certificate-list {
    padding: 50px 20px;
    gap: 20px;
  }
  .portfolio-project .project-item,
  .portfolio-certificate .certificate-item {
    gap: 20px;
    padding: 20px;
  }
  .portfolio-project .project-list .project-item img,
  .portfolio-certificate .certificate-list .certificate-item img {
    width: 100%;
  }
}