@media only screen and (max-width: 1320px) {
  .home-page .fitur .card {
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 1250px) {
  .my-projects .project-item {
    flex-wrap: wrap;
  }
  .my-projects .project-item .side:nth-child(2) {
    width: calc(100% - 320px);
  }
  .my-projects .project-item .side:nth-child(3) {
    width: 100%;
    flex-direction: row;
  }
}
@media only screen and (max-width: 1100px) {
  .login-page .wrapper:nth-child(1),
  .register-page .wrapper:nth-child(1) {
    padding-left: 50px;
  }
  .login-page .wrapper:nth-child(1) h1,
  .register-page .wrapper:nth-child(1) h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1000px) {
  .my-projects .project-item,
  .my-certificates .certificate-item {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .my-certificates .certificate-item .side:nth-child(3) {
    flex-direction: row;
    width: 100%;
  }
  .my-projects .project-item .side:nth-child(2) {
    width: 100%;
  }
  .mini-navbar h3 {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .login-page .wrapper:nth-child(1),
  .register-page .wrapper:nth-child(1),
  .reset-password .wrapper:nth-child(1) {
    display: none;
  }
  .login-page .wrapper:nth-child(2),
  .register-page .wrapper:nth-child(2),
  .reset-password .wrapper:nth-child(2) {
    padding: 10px;
  }
  .login-page .wrapper form,
  .register-page .wrapper form,
  .reset-password .wrapper form {
    padding: 20px;
    box-shadow: none;
    background: transparent;
  }
  .home-page .hero {
    padding: 50px 0;
  }
  .home-page .hero h1 {font-size: 3rem;}
  header nav ul {
    gap: 0;
  }
  header nav ul li a {
    min-width: max-content;
  }
  header nav ul li a p {
    display: none;
  }
  .about-wrapper {
    padding: 0px 40px;
  }
  .dashboard-admin table thead {
    top: 108px;
  }
  .dashboard-admin table thead tr th:nth-child(2),
  .dashboard-admin table thead tr th:nth-child(5),
  .dashboard-admin table thead tr th:last-child,
  .dashboard-admin table tbody tr td:nth-child(2),
  .dashboard-admin table tbody tr td:nth-child(5),
  .dashboard-admin table tbody tr td:last-child {
    display: none;
  }
}
@media only screen and (max-width: 620px) {
  .home-page .fitur .card {
    width: 100%;
  }
  #button-navbar {display: flex;}
  #navbar:checked + ul {
    height: 50dvh;
    padding: 20px;
    opacity: 1;
    box-shadow: 0 15px 10px var(--overlay);
    border-bottom: 4px solid #ff00e1;
  }
  header .active {
    border-right: 4px solid #ff00e1;
  }
  header nav {
    padding: 0 20px;
  }
  header nav ul {
    overflow: hidden;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    border-radius: 0 0 100px 100px;
    transition: 0.5s all;
    top: 70px;
    right: 0;
    width: 100%;
    gap: 20px;
    height: 0;
    padding: 0px;
  }
  header nav ul li {
    width: 100%;
  }
  header nav ul li a {
    justify-content: start;
    border-right: 4px solid var(--text);
  }
  header nav ul li a p {
    display: block;
  }
  nav ul li i {
    width: 25px;
  }
  .user-preference {
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
  }
  .about-wrapper {
    padding: 0px 20px;
  }
  .about-section {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .dashboard-page {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .dark .dashboard-page {
    background: black;
  }
  .dashboard-page main {
    width: 100%;
  }
  .my-certificates, .my-projects {
    background: transparent;
  }
  .dashboard-page aside h1,
  .dashboard-page aside h2 {
    display: none;
  }
  .main-navigation {
    padding: 0;
  }
  .main-navigation a p {
    display: none;
  }
  .mini-navbar {
    gap: 10px;
    padding: 0 10px;
    padding-top: 10px;
    height: max-content;
    background: transparent;
  }
  .mini-navbar .search-box {
    background: var(--card-bg);
    width: 100%;
    max-width: none;
  }
  .mini-navbar .search-box input {
    color: var(--text) !important;
  }
  #nav-logout {display: flex;}
  #aside-logout {display: none}
  .dashboard-page aside {
    z-index: 100;
    position: sticky;
    justify-content: center;
    background: var(--bg);
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 40px;
    padding: 10px;
    top: 70px;
  }
  .main-navigation {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .main-navigation a {
    justify-content: center;
    padding: 0;
  }
  .main-navigation .active {
    background: transparent;
  }
  .main-navigation .active i {
    color: transparent;
    background: linear-gradient(to right, blue, #ff00e1);
    background-clip: text;
  }
  .main-navigation a i {
    font-size: 1.3rem;
    text-shadow: none;
    background: transparent;
    padding: 0;
  }
  .main-navigation a span {
    right: 0;
  }
  .main-navigation a span i {
    color: gray;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
  }
  .dashboard-page main .cards {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .dashboard-page main .cards .card {
    width: calc(50% - 5px);
  }
  .dashboard-page main .cards .card:nth-child(3) {
    width: 100%;
  }
  #button-add {
    padding: 10px;
  }
  #button-add p {
    display: none;
  }
  .project-list, .certificate-list {
    padding: 10px;
  }
  .project-item {
    flex-direction: column;
    align-items: center;
    background: var(--card-bg);
  }
  .project-item .side:nth-child(1),
  .certificate-item .side:nth-child(1) {
    align-items: center;
  }
  .project-item .side:nth-child(3),
  .certificate-item .side:nth-child(3) {
    width: 100%;
    justify-content: space-between;
  }
  .my-certificates .certificate-item {
    flex-direction: row;
    background: var(--card-bg);
  }
  .my-certificates .certificate-item .side:nth-child(3) {
    flex-direction: column;
    width: max-content;
  }
  .my-dashboard {
    height: auto;
    padding: 10px;
  }
  .my-dashboard .preview {
    flex-direction: column;
  }
  .my-dashboard .preview .box {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .my-certificates .certificate-item {
    flex-direction: column;
  }
  .my-certificates .certificate-item .side:nth-child(3) {
    flex-direction: row;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .my-profile {
    padding-bottom: 60px;
    background: transparent;
  }
  .my-profile form span {
    width: 100%;
  }
  .my-profile form button {
    top: 120px;
  }
  .my-profile form input {
    font-size: 1rem;
    color: var(--text);
  }
}