* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  scroll-margin-top: 10vh;
  scroll-behavior: smooth;
}
:root {
  --bg: #f3f3f3;
  --text: black;
  --primary: #06b6d4;
  --card-bg: #e4e4e4;
  --overlay: #00000021;
}
.dark {
  --bg: #0e0e0e;
  --text: white;
  --primary: #0ef;
  --card-bg: #111111;
  --overlay: #2828284a;
}
body {
  background: var(--bg);
}
body::-webkit-scrollbar {
  display: none;
}
/* ----->>>>> HEADER */
header {
  z-index: 9999;
  position: sticky;
  top: 0;
  background: var(--bg);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  width: 100%;
  padding: 0 50px;
  height: 70px;
}
header nav .active {
  opacity: 1;
}
header nav .active > i {
  border-radius: 10px;
  color: transparent;
  background: linear-gradient(to right bottom, blue, #ff00e1);
  background-clip: text;
  border-radius: 0;
}
header nav .logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  font-size: 1.5rem;
  color: var(--text);
}
header nav .logo img {width: 40px;}
header nav .logo p {
  margin-bottom: 4px;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  background: inherit;
  gap: 10px;
}
header ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  min-width: 100px;
  color: var(--text);
  opacity: 0.6;
  outline: none;
}
header ul li a:hover {
  color: #ff00e1;
}
nav input {
  display: none;
}
#button-navbar {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--text);
  width: 50px;
  height: 50px;
  font-size: 2rem;
}
.user-preference {
  display: flex;
  gap: 20px;
  width: max-content;
}
.user-preference button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  outline: none;
  color: var(--text);
  opacity: 0.8;
  font-size: 1rem;
  gap: 10px;
}
.user-preference button span {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.user-preference button:nth-child(2) span {
  background: linear-gradient(to right bottom,blue, #ff00e1);
  color: white;
  text-shadow: 0 0 10px black;
}
.user-preference button span i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.user-preference button:nth-child(2) span i {
  transition: 0.5s all;
}
/* ----->>>>> HERO*/
.hero {
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60svh;
}
.hero span,
.hero img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: transparent;
  background: linear-gradient(to right bottom, blue, #ff00e1);
  background-clip: text;

}
.hero h1 {
  text-align: center;
  font-size: 4rem;
  color: transparent;
  background: linear-gradient(to right, blue, #ff00e1, blue);
  background-clip: text;
}
.hero p {
  padding: 20px;
  max-width: 900px;
  width: 100%;
  text-align: center;
  color: var(--text);
}
.link-button {
  padding: 30px;
  display: flex;
  gap: 10px;
}
.link-button a {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  min-width: 120px;
  color: var(--text);
}
.link-button a:nth-child(2) {
  background: linear-gradient(to right bottom, blue, #ff00e1);
  border-radius: 20px;
  color: white;
}
/* ----->>>>> HOMEPAGE */
.home-page {
  position: relative;
  padding-bottom: 20px;
  color: var(--text);
}
/* ----->>>>> HOMEPAGE - FITUR */
.fitur {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  min-height: 30svh;
  gap: 40px;
  padding: 20px;
}
.fitur .card {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
  width: calc(31%);
  border-radius: 20px;
}
.fitur .card::before,
.fitur .card::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.fitur .card::before {
  padding: 5px;
  background: conic-gradient(blue, var(--bg));
}
.fitur .card::after {
  background: var(--bg);
}
.home-page .fitur .card span {
  width: 100px;
  height: 100px;
  font-size: 4rem;
  color: transparent;
  background: linear-gradient(to right bottom, blue, #ff00e1);
  background-clip: text;
  text-shadow: none;
}
/* ----->>>>> ABOUTUS */
.about-container {
  display: flex;
  justify-content: center;
  background: var(--bg-color);
  color: var(--text);
  padding-bottom: 50px;
}

.about-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color);
  gap: 20px;
  padding: 0 100px 50px 100px;
}

.about-intro {
  font-size: 1.1rem;
  margin-bottom: 40px;
  line-height: 1.7;
}

.about-section {
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  border-radius: 10px;
  width: calc(50% - 10px);
  padding: 20px;
  gap: 20px;
}

.about-section h2 {
  text-align: left;
  font-size: 1.5rem;
  padding: 0;
  color: transparent;
  background: linear-gradient(to left, blue 80%, #ff00e1);
  background-clip: text;
}

.about-section p {
  line-height: 1.6;
}

.about-section ul {
  padding-left: 20px;
}

.about-section li {
  margin-bottom: 8px;
}
/* ----->>>>> LOGIN & REGISTER PAGE */
.login-expired {
  position: fixed;
  background: var(--card-bg);
  border: 1px solid var(--text);
  border-radius: 10px;
  top: 100px;
  padding: 20px;
  animation: login-expired 6s forwards;
}
@keyframes login-expired {
  0%        {top: -100px;}
  10%, 50%  {top: 100px;}
  70%, 100% {top: -100px;}
}
.login-page,
.register-page,
.reset-password {
  height: calc(100svh - 70px);
  flex-direction: row;
  color: var(--text);
}
.login-page .wrapper,
.register-page .wrapper,
.reset-password .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
}
.login-page .wrapper .box,
.register-page .wrapper .box,
.reset-password .wrapper .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.login-page .wrapper:nth-child(1),
.register-page .wrapper:nth-child(1),
.reset-password .wrapper:nth-child(1) {
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding-top: 100px;
  padding-left: 100px;
  font-size: 1.2rem;
  line-height: 1.5;
}
.login-page .wrapper:nth-child(1),
.register-page .wrapper:nth-child(1),
.reset-password .wrapper:nth-child(1) {
  width: calc(100% - 600px);
}
.login-page .wrapper:nth-child(2),
.register-page .wrapper:nth-child(2),
.reset-password .wrapper:nth-child(2) {
  width: 600px;
}
.login-page .wrapper form,
.register-page .wrapper form,
.reset-password .wrapper form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  background: var(--card-bg);
  box-shadow: 0 0 5px black;
}

.reset-password .wrapper form {
  justify-content: center;
  gap: 50px;
}

.login-page .wrapper h1,
.register-page .wrapper h1,
.reset-password .wrapper h1 {
  text-align: left;
  color: transparent;
  background: linear-gradient(to right, blue, #ff00e1);
  background-clip: text;
  font-size: 4rem;
}
.login-page .wrapper h2,
.register-page .wrapper h2,
.reset-password .wrapper h2 {
  font-size: 2rem;
  text-align: center;
}
.login-page .wrapper form p,
.register-page .wrapper form p,
.reset-password .wrapper form p {
  padding: 10px 0;
}
.inp {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  overflow: hidden;
}
.inp label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  background: linear-gradient(to right, blue, #ff00e1);
  background-clip: text;
  width: 40px;
}
.inp input {
  font-size: 1rem;
  width: 100%;
  height: 40px;
  background: transparent;
  color: var(--text);
  border: none;
}
.inp input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--card-bg) inset;
  -webkit-text-fill-color: var(--text);
  caret-color: var(--text);
}
.inp input:focus {
  outline: none;
}
.login-page .wrapper form a,
.register-page .wrapper form a,
.reset-password .wrapper form a {
  color: blue;
  font-weight: bold;
}
.login-page .wrapper form a:hover,
.register-page .wrapper form a:hover,
.reset-password .wrapper form a:hover {
  border-bottom: 1px solid blue;
}
.login-page .wrapper form button,
.register-page .wrapper form button,
.reset-password .wrapper form button {
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(to right, blue, #ff00e1);
  border: none;
  height: 40px;
  border-radius: 10px;
}
.reset-password .wrapper form small {
  padding: 10px;
}
.email_reset_password_success {
  color: green;
}
.email_reset_password_failed {
  color: red;
}
#show-pass {
  background: transparent;
  position: absolute;
  width: max-content;
  color: var(--text);
  font-size: 1rem;
  right: 10px;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.loading span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.loading span::before,
.loading span::after {
  padding: 10px;
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  background: conic-gradient(transparent, #ff00e1);
  border-radius: inherit;
  animation: loading 1s linear infinite;
}
.loading span::after {
  padding: 0;
  background: var(--card-bg);
}

@keyframes loading {
  to {transform: rotate(360deg);}
}
/* ----->>>>> DASHBOARD PAGE */
.dashboard-page {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 10px;
  gap: 10px;
  width: 100%;
  min-height: calc(100svh - 70px);
}
.dashboard-page main {
  width: 75%;
  height: 100%;
  border-radius: 10px;
}
/* ----->>>>> DASHBOARD PAGE - ASIDE */
.dashboard-page aside {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: calc(90svh - 20px);
  top: 80px;
}
.dashboard-page aside h1,
.dashboard-page aside h2 {
  font-size: 1rem;
  color: var(--text);
  text-align: left;
  padding: 10px;
}
.main-navigation {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.main-navigation .active {
  background: var(--overlay);
  opacity: 1;
}
.main-navigation .active i {
  background: linear-gradient(to right, blue, #ff00e1);
  color: white;
}
.main-navigation a {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: transparent;
  gap: 10px;
  padding: 10px;
  width: 100%;
  color: var(--text);
  opacity: 0.6;
}
.main-navigation a i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}
.main-navigation a span {
  position: absolute;
  right: 10px;
}
#aside-logout {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  border: none;
  color: white;
  background: linear-gradient(to right, blue, #ff00e1);
  text-shadow: 0 0 5px black;
  height: 40px;
  font-weight: bold;
  font-size: 1rem;
  bottom: 20px;
  width: 90%;
}
#nav-logout {
  cursor: pointer;
  display: none;
  align-items: center;
  border: none;
  background: transparent;
  color: var(--text);
  padding-left: 10px;
  font-size: 1rem;
  gap: 10px;
  width: 100%;
  height: 40px;
}
#nav-logout:hover {
  color: #ff00e1;
}
/* ----->>>>> DASHBOARD PAGE - MY PROFILE */
.my-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(90svh - 20px);
  background: var(--card-bg);
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}
.my-profile .alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.my-profile .alert button {
  width: max-content;
  height: max-content;
  padding: 5px 10px;
}
.my-profile .alert button i {
  animation: isLoading 1s linear infinite;
}
.my-profile form {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.my-profile form .image {
  background: linear-gradient(to right bottom, blue, #ff00e1);
  border: 1px solid blue;
}
.my-profile form .image label {
  color: white;
}
.my-profile form .image input {
  display: none;
}
.my-profile form .image label {
  align-items: start;
  height: 80px;
}
.my-profile form .box-picture {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: white;
}
.my-profile form .box-picture img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.my-profile form .box-picture i {
  color: black;
  font-size: 2rem;
}
.my-profile form span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 5px);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  border: 1px solid transparent;
}
.my-profile form span:hover {
  border: 1px solid blue;
}
.my-profile form span label {
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  color: transparent;
  background: linear-gradient(to right, blue, #ff00e1 20%);
  background-clip: text;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.my-profile form span input {
  background: transparent;
  color: var(--text);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
}
.my-profile form span:focus-within {
  border-radius: 10px;
  background: var(--bg);
}
.my-profile form span input:focus {
  outline: none;
  background: white;
  color: black;
  border: 1px solid blue;
}
.my-profile form .box-bio {
  width: 100%;
  background: linear-gradient(to right, blue, #ff00e1, blue) !important;
  gap: 10px;
}
.my-profile form .box-bio label {
  color: white;
}
.my-profile form .box-bio textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  background: var(--bg);
  color: var(--text);
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  resize: none;
}
.my-profile form .box-bio textarea:focus {
  outline: none;
  background: white;
  color: black;
}
.my-profile form button {
  z-index: 1;
  position: sticky;
  top: 80px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, blue, #ff00e1);
  color: white;
}
.my-profile .list-country {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  scrollbar-width: none;
  border-radius: 10px;
  width: 100%;
  max-height: 200px;
  padding: 5px;
  gap: 5px;
}
.my-profile .list-country .country-item {
  background: none;
  position: static;
  display: block;
  text-align: left;
  padding: 5px;
}
.my-profile .list-country .country-item:hover {
  background: #ff00e1;
}
@keyframes loading {
  to {rotate: 360deg;}
}
/* ----->>>>> DASHBOARD PAGE - MY DASHBOARD */
.dashboard-page main .cards {
  display: flex;
  gap: 10px;
  width: 100%;
}
.dashboard-page main .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  background: var(--card-bg);
  color: var(--text);
}
.dashboard-page main .cards .card .count {
  font-size: 3rem;
}
.dashboard-page main .card .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-page main .card .box:nth-child(2) {
  justify-content: start;
  gap: 10px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  background: white;
  color: black;
}
.card span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, blue, #ff00e1);
  text-shadow: 0 0 5px black;
  color: white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
}
.dashboard-page main .cards .card:nth-child(3) .box:nth-child(2) {
  justify-content: space-between;
}
.my-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  min-height: calc(90svh - 20px);
}
.my-dashboard .portfolio-progress {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  background: var(--card-bg);
  padding: 10px;
  height: 50px;
  border-radius: 10px;
  width: 100%;
}
.my-dashboard .portfolio-progress span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  color: var(--text);
}
.my-dashboard .portfolio-progress span button {
  cursor: pointer;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: var(--text);
}
.my-dashboard .portfolio-progress .bar {
  position: absolute;
  background: linear-gradient(to right, blue, #ff00e1);
  opacity: 0.5;
  border-radius: 10px;
  width: 0%;
  height: 100%;
  left: 0%;
}
.my-dashboard .missing-progress {
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  color: var(--text);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.my-dashboard .missing-progress p {
  display: flex;
  align-items: center;
  background: var(--overlay);
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}
.my-dashboard .missing-progress i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay);
  border-radius: 100%;
  color: var(--text);
  width: 30px;
  height: 30px;
}
.my-dashboard .preview {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.my-dashboard .preview .box {
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  color: var(--text);
  border-radius: 10px;
  gap: 10px;
  width: 50%;
  height: 100%;
  padding: 10px;
  height: 100%;
}
.my-dashboard .preview .box .project,
.my-dashboard .preview .box .certificate {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background: var(--overlay);
  border-radius: 10px;
  gap: 20px;
  height: 50%;
  padding: 20px;
}
.my-dashboard .preview .box .project img ,
.my-dashboard .preview .box .certificate img {
  width: 200px;
  height: 125px;
}
.my-dashboard .preview .box .project span,
.my-dashboard .preview .box .certificate span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  width: 200px;
  height: 100%;
}
.skill-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.skill-item {
  display: flex;
  align-items: center;
  background: var(--overlay);
  border-radius: 10px;
  color: var(--text);
}
.skill-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 50px;
  height: 50px;
}
.empty-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text);
  padding: 20px;
  gap: 20px;
  height: 100%;
}
.empty-skills span {
  font-size: 4rem;
}
/* CONTENT */
.mini-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: var(--overlay);
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
}
.mini-navbar h3 {
  color: var(--text);
  width: 130px;
}
.mini-navbar .search-box {
  display: flex;
  overflow: hidden;
  background: white;
  width: 70%;
  max-width: 400px;
  height: 40px;
  border-radius: 10px;
}
.mini-navbar .search-box input {
  background: transparent;
  padding: 0 10px;
  font-size: 16px;
  color: black;
  width: 100%;
  border: none;
}
.mini-navbar .search-box input:focus {
  outline: none;
}
.mini-navbar .search-box label {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, blue, #ff00e1);
  height: 100%;
  width: 40px;
  color: white;
}
#button-add {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, blue, #ff00e1);
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  border: none;
  padding: 10px 40px;
  gap: 10px;
  font-size: 1rem;
  border-radius: 10px;
}
.my-projects, .my-certificates {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  border-radius: 10px;
}
.project-list, .certificate-list {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  gap: 20px;
}
.project-item, .certificate-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  gap: 20px;
  width: 100%;
  height: max-content;
  border-radius: 10px;
  background: var(--overlay);
  color: var(--text);
}
.project-item .created-at {
  opacity: 0.5;
}
.project-item .tech,
.certificate-item .tech {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-item .tech:hover,
.certificate-item .tech:hover {
  white-space: wrap;
  text-overflow: none;
}
.project-item .tech span,
.certificate-item .tech span {
  padding-right: 5px;
}
.project-item .description-project {
  opacity: 0.5;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}
.project-item .description-project:hover {
  -webkit-line-clamp: none;
}
.certificate-item table{
  width: 100%;
  opacity: 0.7;
}
#issued-by a {
  display: flex;
  align-items: center;
  width: max-content;
  background: var(--text);
  color: var(--bg);
  gap: 5px;
  padding: 5px 10px;
}
#issued-by a:hover {
  background: #ff00e1;
}
#issued-by a img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.project-item .side,
.certificate-item .side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.project-item .side img,
.certificate-item .side img {
  cursor: pointer;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  height: 200px;
}
.project-item .side img:hover,
.certificate-item .side img:hover {
  box-shadow: 0 0 5px #ff00e1;
}
.project-item .side:nth-child(2),
.certificate-item .side:nth-child(2) {
  width: 100%;
}
.project-item .side:nth-child(3),
.certificate-item .side:nth-child(3) {
  justify-content: start;
}
.project-item .side:nth-child(3) button,
.certificate-item .side:nth-child(3) button,
.certificate-item .side:nth-child(3) a {
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  width: 30px;
  height: 30px;
  color: var(--text);
}
#isLoadingVisible {
  animation: loading 1s linear infinite;
}
.project-item .side .btn-active,
.certificate-item .side .btn-active {
  background: linear-gradient(to right, blue, #ff00e1) !important;
  color: white !important;
  text-shadow: 0 0 5px black;
}
.highlight-text {
  color: #ff00e1;
  font-weight: bold;
}
.my-projects__button {
  display: flex;
  gap: 10px;
}
.my-projects__button a {
  text-align: center;
  color: var(--text);
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}
.form-input-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(90svh - 20px);
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
}
.form-input-project .preview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.form-input-project .preview .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 370px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border: 1px solid var(--text);
  color: black;
  border-radius: 10px;
}
.form-input-project .preview input {
  display: none;
}
.form-input-project .preview label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: 0 0 5px black;
  border-radius: 10px;
  font-size: 3rem;
}
.form-input-project .wrapping {
  display: flex;
  width: 100%;
  gap: 10px;
  max-width: 500px;
}
.form-input-project .wrapping .inp-group {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.form-input-project .wrapping .inp-group label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.form-input-project .inp-group input.hidden {
  color: transparent;
}
.form-input-project .inp-group label.hidden {
  opacity: 0;
  pointer-events: none;
}
.form-input-project input {
  padding-left: 10px;
}
.form-input-project input,
.form-input-project textarea,
.form-input-project button {
  border: 1px solid black;
  height: 40px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  font-size: 1rem;
}
.form-input-project textarea {
  resize: none;
  padding: 10px;
  height: 100px;
}
.form-input-project button {
  cursor: pointer;
  background: linear-gradient(to right, blue, #ff00e1);
  font-size: 1rem;
  color: white;
  font-weight: bold;

  background: blue;
}
.form-input-project button:hover {
  background: #ff00e1;
}
.form-input-project #back {
  background: transparent;
  color: var(--text);
  font-size: 1rem;
  border: none;
  width: 100px;
  top: 20px;
  left: 20px;
}
.form-input-project #back:hover {
  color: #ff00e1;
}
.form-input-project .list-organizations {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  max-height: 200px;
  border: 1px solid black;
  padding: 5px;
  gap: 5px;
  border-radius: 10px;
  overflow: auto;
}
.form-input-project .list-organizations .organization-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 5px;
  padding: 5px;
  background: #00000041;
  border-radius: 10px;
}
.form-input-project .list-organizations .organization-item:hover {
  background: #ff00e1;
}
.form-input-project .list-organizations .organization-item img {
  width: 30px;
  border-radius: 100%;
}
.form-input-project .list-skills {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  max-height: 100px;
  padding: 5px;
  gap: 5px;
}
.form-input-project .list-skills .skill-item {
  cursor: pointer;
  display: flex;
  padding: 5px;
  gap: 5px;
  background: #00000041;
}
.form-input-project .list-skills .skill-item:hover {
  background: #ff00e1;
}
.form-input-project .list-skills .skill-item span {
  width: max-content;
  height: max-content;
  font-size: 1rem;
  color: black;
}
.popup-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--card-bg);
  min-height: calc(90svh - 20px);
  border-radius: 10px;
}
.popup-message .box {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  color: black;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  gap: 10px;
}
.popup-message .box .btn {
  display: flex;
  gap: 10px;
}
.popup-message .box .btn button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  border-radius: 10px;
  color: black;
  border: 1px solid black;
}
.popup-message .box .btn button:nth-child(2) {
  background: darkred;
  color: whitesmoke;
}
.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text);
  font-size: 1.5rem;
  border-radius: 10px;
  min-height: calc(80svh - 10px);
  padding: 50px;
  gap: 10px;
}
.empty-state span {
  font-size: 5rem;
  color: transparent;
  background: linear-gradient(to right, blue, #ff00e1);
  background-clip: text;
}
.empty-state button {
  padding: 10px;
}
.is-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70svh;
}
.is-loading span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 100px;
  background: conic-gradient(#ff00e1, blue);
  border-radius: 100%;
  animation: isLoading 1s infinite;
}
.is-loading span::before {
  content: "";
  position: absolute;
  background: var(--bg);
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
@keyframes isLoading {
  to {transform: rotate(360deg);}
}
.keyword-not-match {
  color: var(--text);
}
.keyword-not-match p b {
  color: blue;
}

/* ----->>>>> DASHBOARD ADMIN */

.dashboard-admin {
  min-height: calc(90svh - 10px);
  background: var(--card-bg);
}
.dashboard-admin table {
  width: 100%;
}
.dashboard-admin table tr,
.dashboard-admin table th,
.dashboard-admin table td {
  padding: 10px;
}
.dashboard-admin table thead {
  position: sticky;
  background: blue;
  color: white;
  top: 70px;
}
.dashboard-admin table tbody {
  color: var(--text);
}
.dashboard-admin table tbody tr,
.dashboard-admin table tbody td {
  background: var(--bg);
}
.dashboard-admin table tbody tr td:first-child,
.dashboard-admin table tbody tr td:nth-child(4),
.dashboard-admin table tbody tr td:nth-child(5),
.dashboard-admin table tbody tr td:last-child {
  text-align: center;
}
.dashboard-admin table tbody tr td button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--text);
  height: 100%;
}

.global-loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: var(--bg);
  height: calc(100svh - 150px);
}
.global-loading h1 {
  color: var(--text);
}
.global-loading i {
  font-size: 4rem;
  animation: 1s loading linear infinite;
  color: transparent;
  background: linear-gradient(to right bottom, blue, #ff00e1);
  background-clip: text;
}

/* ----->>>>> PAGE NOT FOUND */

.not-found-page {
  gap: 20px;
  height: calc(100svh - 150px);
}
.not-found-page {
  color: var(--text);
}
.not-found-page a {
  background: linear-gradient(to right, blue, #ff00e1);
  padding: 10px 20px;
  color: var(--bg);
  font-size: 1rem;
}
.not-found-page .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-page .icon i {
  font-size: 10rem;
  color: transparent;
  background: linear-gradient(to right bottom, blue, #ff00e1);
  background-clip: text;
}
.not-found-page .icon p {
  position: absolute;
  bottom: 40px;
  color: var(--bg);
  font-size: 2rem;
}

/* ----->>>>> ALL SECTION */
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* ----->>>>> FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: var(--text);
}